<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>237499262242-rmidk1d7s17h0dt4q96j3rc0r6a5qcio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237499262242-rmidk1d7s17h0dt4q96j3rc0r6a5qcio</string>
	<key>API_KEY</key>
	<string>AIzaSyDfsUJCGP2wQTo6zdpMaFtqRdK1CSj6r5g</string>
	<key>GCM_SENDER_ID</key>
	<string>237499262242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Shubham.DineMe-Waiter</string>
	<key>PROJECT_ID</key>
	<string>dinein-e45b2</string>
	<key>STORAGE_BUCKET</key>
	<string>dinein-e45b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237499262242:ios:94eaebf24baeb03c</string>
	<key>DATABASE_URL</key>
	<string>https://dinein-e45b2.firebaseio.com</string>
</dict>
</plist>